@use '@angular/material' as mat;


:host {
	@include mat.form-field-overrides((
	  filled-caret-color: orange,
	  filled-focus-active-indicator-color: red,
	));
  }

html, body { height: 100%; }
body {
    margin: 0 !important;
    padding: 0 !important;
	font-family: 'Montserrat', sans-serif !important;
	width: 100% !important;
	height: 100% !important;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
